<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <title>iviLink - {{ page.title }}</title>
  </head>

  <body>

    <header>
      {% include github_ribbon.html %}
      <div class="container">
         <a href="index.html"><img src="images/logo_ivilink_website.png" alt=iviLink"></a>
        <h1>
          {{ page.title }}
        </h1>

      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <div class="container">
      <section id="copyright"><hr/>
        {% include copyright_notice.html %}
      </section>
    </div>

  </body>
</html>
